
#game-over-area {
    text-align: center;
    border: $red 8px solid;
    padding: 50px;
    width: 50%;
    margin-top: 50px;
    color: $red;
  }
  
  .dialog-title {
    color: currentColor;
    font-size: 2em;
    margin-top: 0px;
  }
  
  button {
    background-color: transparent;
    color: currentColor;
    border: currentColor 1px solid;
    padding: 10px;
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .hidden {
    display: none;
  }
  
  .visible {
    display: block;
  }
