#game-over-area {
  text-align: center;
  border: #bc4749 8px solid;
  padding: 50px;
  width: 50%;
  margin-top: 50px;
  color: #bc4749;
}

.game-status {
  font-weight: bold;  
  color: currentColor;
  font-size: 2em;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 32px;
}

.game {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.play-again-btn {
  padding: 10px;
  font-size: 1.5em;
}


.strike {
  position: absolute;
  background-color: #bc4749;
}

.strike-row-3, .strike-row-2, .strike-row-1 {
  width: 100%;
  height: 4px;
}

.strike-row-1 {
  top: 15%;
}

.strike-row-2 {
  top: 48%;
}

.strike-row-3 {
  top: 83%;
}

.strike-column-3, .strike-column-2, .strike-column-1 {
  height: 100%;
  width: 4px;
}

.strike-column-1 {
  left: 15%;
}

.strike-column-2 {
  left: 48%;
}

.strike-column-3 {
  left: 83%;
}

.strike-diagonal-2, .strike-diagonal-1 {
  width: 90%;
  height: 4px;
  top: 50%;
  left: 5%;
}

.strike-diagonal-1 {
  transform: skewY(45deg);
}

.strike-diagonal-2 {
  transform: skewY(-45deg);
}

.shadow-move:hover::after {
  content: "X";
  opacity: 0.4;
}

.start-btn, .play-again-btn {
  background-color: transparent;
  color: #bc4749;
  border: currentColor 1px solid;
  font-family: "Times New Roman", Times, serif;
}

.start-btn {
  font-size: medium;
  padding: 1em;
  margin-top: 30px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #eee8db;
  color: #6a994e;
  font-family: "Times New Roman", Times, serif;
}

