.start-btn {
    background-color: transparent;
    color: #bc4749;
    border: currentColor 1px solid;
    font-family: "Times New Roman", Times, serif;
    font-size: medium;
    padding: 1em;
    margin-top: 30px;
  }


.username-input {
    margin: 16px;
    padding: 8px;
}

.name-text {
    font-size: 1em;
    font-weight: bold;
}